/* reset */
body {
  margin: 0 auto;
  color: #333;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
}

/* font */
h2 {
  font-weight: 900;
  font-size: 40px;
  font-size: 2.55rem;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  font-size: 1.875rem;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
}

span {
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
}

p,
a {
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
}

.dummy {
  font-weight: 300;
  font-size: 11px;
  font-size: 0.6875rem;
}

/* btn */

button {
  width: auto;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  padding: 0px 14px;
}

.white_btn {
  background: #fff;
  color: palevioletred;
}

.white_btn:hover {
  background: #fde0e5;
}

.blue_btn {
  background: palevioletred;
  color: #fff;
}

.blue_btn:hover {
  background: rgb(152, 39, 77);
}

.long_btn {
  width: 200px;
  padding: 5px 0px;
}

/* submit */
input[type="submit"] {
  width: auto;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  text-indent: 0;
  cursor: pointer;
}

/* input */
input {
  height: 40px;
  background: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  border: 1px solid rgb(152, 39, 77);
  border-radius: 5px;
  text-indent: 10px;
  color: #333;
}

input[placeholder] {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Pretendard", "Noto Sans KR";
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid palevioletred;
  background-color: #fff2fb;
}

textarea {
  width: auto;
  height: 150px;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Pretendard", "Noto Sans KR";
  resize: none;
}

/* checkbox */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="checkbox"]:checked + label {
  position: relative;
  text-indent: 20px;
}

input[type="checkbox"] + label:before,
input[type="checkbox"]:checked + label:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: -10px;
  left: -10px;
  background: url("../img/check_box_de.png") no-repeat left center / contain;
}

input[type="checkbox"]:checked + label:before {
  background: url("../img/check_box_ch.png") no-repeat left center / contain;
}

/* something */
hr {
  border-bottom: 2px solid palevioletred;
}

/* start ********************** */
#wrap {
  width: 100%;
  height: 100vh;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: pink;
  align-items: flex-start;
}

.container {
  width: 90%;
  height: auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* sect1 */

#sect1,
#sect2,
#sect3 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainTit {
  color: rgb(152, 39, 77);
  margin-top: 30px;
}

#sect1 form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputList {
  width: 50%;
  display: flex;

  justify-content: space-between;
  /* background-color: yellow; */
}

.inputList > [type="text"] {
  width: 70%;
}

.inputList > button {
  padding: 0 7%;
}

/* sect2 */

.listAll {
  width: 50%;
  /* background-color: yellow; */
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border-radius: 4px;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid palevioletred;
}

.ListTit {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.icons {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons > div {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sect3 */

#sect3 {
  margin-bottom: 30px;
}

@media all and (max-width: 768px) {
  .listAll,
  .inputList {
    width: 90%;
  }
}
